@import "../../shared_styles/_variables";
@import "../../shared_styles/_mixins";

.smil-module {
  a {
    display: block;
    margin-top: 5px;
  }
  svg {
    margin-top: 50px;
    height: 100px;
    width: 100px;
    border: 2px solid $black;
  }
}
