@import "../../shared_styles/_variables";
@import "../../shared_styles/_mixins";

.button-module {
  $outerWidth: 450px;
  $innerWidth: 340px;
  $fontSize: 20px;
  $smallFontSize: 18px;

  text-align: center;
  .line {
    height: 40px;
    width: 100%;
    padding: 1px 0px;
  }

  .el {
    width: 30px;
    height: 30px;
    background-color: black;
  }

  .container {
    background-image: linear-gradient(60deg, #09203f 0%, #537895 100%);
    width: $outerWidth;
    height: $outerWidth;
    border-radius: 35px;
    box-shadow: 0 14px 40px rgba(0,0,0,0.40), 0 10px 100px rgba(0,0,0,0.22);
    margin: 0 auto;
    padding-top: 90px;
    box-sizing: border-box;
  }

  a, input, .button {
    font-family: "Raleway", sans-serif;
    font-size: $fontSize;
    font-weight: 300;
    color: $offWhite;
    letter-spacing: 2px;
  }

  .input-container {
    position: relative;
    width: $innerWidth;
    margin: 0 auto;
    &:after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0px;
      background-color: $darkGrey;
      transition: width .3s;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  input {
    width: $innerWidth;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $white;
    background-color: rgba(0,0,0,0);
    height: 50px;
    margin-bottom: 20px;
    &:focus {
      outline: none;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-transition: color 1s, background-color 1s;
      transition-delay: 10000000000000s;
    }
    &::-webkit-input-placeholder {
      color: $white;
    }
  }

  .button-container {
    box-sizing: border-box;
    position: relative;
    width: $innerWidth;
    height: 56px;
    margin: 10px auto 0 auto;
  }

  .button {
    box-sizing: border-box;
    height: 56px;
    width: 150px;
    display: inline-block;
    // border: 1px solid $white;
    border-radius: 3px;
    line-height: 55px;
    position: absolute;
    top: 0;
    cursor: pointer;
    user-select: none;
    transition: opacity 1s, color .3s;
    overflow: hidden;
    &.hide {
      opacity: 0;
    }
  }

  .left-button {
    .button, svg {
      left: 0;
    }
  }

  .right-button {
    .button, svg {
      right: 0;
    }
  }

  .left-button, .right-button {
    &:hover {
      .button {
        color: $lightGrey;
      }
      svg path {
        stroke: $lightGrey;
      }
    }
  }

  .button-container svg {
    position: absolute;
    path {
      transition: stroke .3s;
    }
  }

  a {
    display: block;
    margin-top: 50px;
    text-transform: capitalize;
    font-size: $smallFontSize;
    cursor: pointer;
    user-select: none;
    transition: color .3s;
    &:hover {
      color: $lightGrey;
    }
  }

  .rotate-back {
    transform: rotate(-360deg) !important;
  }
}
